{% include "topmatter.html" %}
{% load widget_tweaks %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form" class="col-md-4 col-md-offset-2">
{% csrf_token %}
<table>
<tr>
    <td>Email Address</td>
    <td>{{ form.username|add_class:"form-control" }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password|add_class:"form-control" }}</td>
</tr>
</table>

    <button class="btn btn-primary" type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}


