.dataTables_wrapper {
    clear: none !important;
}
	
.navbar-default {
    background-color: #380E3B;
	opacity: 0.85;
    height: 104px;
    font-family: futura-pt-condensed;
	font-weight: bold;
	color:#FFFFFF;
}