
{% load tabindex from tag_extras %}
{% load currency from tag_extras %}
{% load bool_yn from tag_extras %}
{% include "topmatter.html" %}

<form method="post" action="">
    {{ vol_form.non_field_errors }}
    {% csrf_token %}
    <div class="right">

        <label for="id_first_name">First Name</label>
        {{ vol_form.first_name.errors }}
        {{ vol_form.first_name }}

        <label for="id_last_name">Last Name</label>
        {{ vol_form.last_name.errors }}
        {{ vol_form.last_name }}

        <label for="id_phone">Contact Phone</label>
        {{ vol_form.phone.errors }}
        {{ vol_form.phone }}

        <label for="id_email">Contact Email</label>
        {{ vol_form.email.errors }}
        {{ vol_form.email }}

        {{ user_form.non_field_errors }}
        {{ user_form }}

    </div>

    <div style="display: block;">
        <input style="display: block; margin-top: 5px;" class="round-button" type="submit" value="Submit" tabindex="10"/>
    </div>

</form>


{% include "footer.html" %}
