{% load tabindex from tag_extras %}
{% load currency from tag_extras %}
{% load bool_yn from tag_extras %}
{% load widget_tweaks %}
{% include "topmatter.html" %}

<div id="row">

    <form method="post" action="" role="form" class="col-md-6 col-md-offset-2">
        <h3>Contact Information</h3>
        {{ vol_form.non_field_errors }}
        {% csrf_token %}
        {% include "contact-form.html" %}
        <button class="btn btn-primary col-md-offset-2" type="submit">Next</button>
    </form>
</div>
{% include "footer.html" %}
