{% load tabindex from tag_extras %}
{% load currency from tag_extras %}
{% load bool_yn from tag_extras %}
{% include "topmatter.html" %}

<form method="post" action="" role="form">
    {% csrf_token %}
    <div class="right">
        {% if not hide_contact_form %}
            <h3>Contact Information</h3>
            <a id="contact"></a>
            {{ vol_form.non_field_errors }}
            <label for="id_first_name">First Name</label>
            {{ vol_form.first_name }}
            <label for="id_last_name">Last Name</label>
            {{ vol_form.last_name }}
        {% endif %}


        <h3 style="margin-top: 50px;">Career Information</h3>
        <a id="career"></a>
        {{ occ_formset.management_form }}

        What field do you work in?
        {{ occ_formset.forms.0.industry }}<br />
        Job Title
        {{ occ_formset.forms.0.job_title }}<br />
        {{ occ_formset.forms.0.id }}
        <!-- TODO: when this link is clicked show the div (jQuery). alternately, 
            if this is an edit, maybe just render all occupations  -->
        <a href="add-more" id="add-more-occ-link">Add more occupations</a>
        <div id="more-occ-div" style="display: none">
        <table>
            <thead>
                <tr>
                    <th>Industry</th>
                    <th>Job Title</th>
                    <th>Do you currently work here?</th>
                </tr>
            </thead>
            <tbody>
                {% for occ_form in occ_formset|slice:"1:" %}
                    <tr>
                    <td>{{ occ_form.industry }}</td>
                    <td>{{ occ_form.job_title }}</td>
                    {{ occ_form.id }}
                    <td>{{ occ_form.current }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>


        <h3 style="margin-top: 50px;">Volunteer Information</h3>
        <a id="volunteer">&nbsp;</a>
        {{ help_formset.management_form }}
        {% for help_form in help_formset %}
            {{ help_form.affirmative }}
            {{ help_form.help_type.as_hidden }}
            {{ help_form.id }}
            {{ help_form.instance.help_type.description }}
            <br />
        {% endfor %}

        {{ site_formset.management_form }}
        <input type="checkbox">Visit classes as a guest speaker</input>
        <br />
        Which sites could you visit?
        <ul style="list-style-type: none; margin-left: 30px;">
        {% for site_form in site_formset %}
            {{ site_form.site.as_hidden }}
            {{ site_form.id }}
            <li>{{ site_form.affirmative }} {{ site_form.instance.site.name }}</li>
        {% endfor %}
        <ul>
        <br />

        <input type="submit"/>
    </div>

</form>

<script type="text/javascript">
    $(document).ready(function() {
        {% if anchor %}
            location.hash = "#" + {{ anchor }}
        {% endif %}
    });
</script>

{% include "footer.html" %}
