
{% load tabindex from tag_extras %}
{% load currency from tag_extras %}
{% load bool_yn from tag_extras %}
{% include "topmatter.html" %}

<form method="post" action="" role="form">
    {{ vol_form.non_field_errors }}
    {% csrf_token %}
    <div class="right">

        <div class="form-group" >
			<label for="id_first_name">First Name</label>
			{{ vol_form.first_name.errors }}
			{{ vol_form.first_name }}
		</div>
		
		<div class="form-group" >
			<label for="id_last_name">Last Name</label>
			{{ vol_form.last_name.errors }}
			{{ vol_form.last_name }}
		</div>
		
		<div class="form-group" >
        <label for="id_phone">Contact Phone</label>
			{{ vol_form.phone.errors }}
			{{ vol_form.phone }}

			{{ user_form.non_field_errors }}

			{{ user_form.username.errors }}
		</div>
		
		<div class="form-group" >
			<label for="id_username">Contact Email</label>
			{{ user_form.username }}
		
			{{ user_form.password1.errors }}
		</div>
		
		<div class="form-group" >
			<label for="id_username">Password</label>
			{{ user_form.password1 }}
			{{ user_form.password2.errors }}
		</div>
		
		<div class="form-group" >
			<label for="id_username">Confirm Password</label>
			{{ user_form.password2 }}
		</div>
		
        <input type="submit" value="Next" />
    </div>

</form>


{% include "footer.html" %}
