<!DOCTYPE html>
<html>
<head>
    <title>Literacy Network</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="/static/css/style-ie.css"/>
    <![endif]-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <!--<script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript" src="/static/js/TableTools.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.formset.js"></script>
    <script type="text/javascript" src="/static/js/jquery.uniform.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/application.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/TableTools.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/uniform.default.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/overcast/jquery-ui-1.10.3.custom.min.css"/>
	


	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		li {
			float: right;
		}

		a:link, a:visited {
			font: Futura-pt-condensed;
			font-weight: bold;
			color: #FFFFFF;
			padding: 10px;
			text-decoration: none;
			text-transform: uppercase;
		}

		a:hover, a:active {
			background-color: #4B264E;
		}
	</style>

</head>
<body>
<div id="page-wrap">
    <div id="inside">
        <div id="header">
            <a href="/"><img src="/static/images/logo2.png" width=150/></a>
			<div id="nav-bar">
				<ul>
				  <li><a href="#donate">Donate</a></li>
				  <li><a href="#volunteer">Volunteer</a></li>
				  <li><a href="#news">News</a></li>
				  <li><a href="#about">About Us</a></li>
				  <li><a href="#enroll">Enroll</a></li>
				  <li><a href="#home">Home</a></li>
				</ul>
			</div>
        </div>

        <div id="login-box" style="text-align: right;">
            {% if not user.is_authenticated %}
            <a href="{% url 'django.contrib.auth.views.login' %}">[Log In]</a>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.logout' %}">[Log Out]</a>
            {% endif %}
        </div>
    </div>

    <div id="main-content">
