
{% load tag_extras %}
{% include "topmatter.html" %}

<fieldset>
    <legend>Volunteers</legend>

    <table id="data-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact Phone</th>
                <th>Contact Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for volunteer in volunteers %}
                <tr>
                    <td>{{ volunteer.first_name }}</td>
                    <td>{{ volunteer.last_name }}</td>
                    <td>{{ volunteer.phone }}</td>
                    <td>{{ volunteer.email }}</td>
                    <td><a href="{% url 'view-volunteer' volunteer.pk %}">[View]</a></td>

                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Phone</th>
            <th>Contact Email</th>
            <th></th>
        </tr>

        </tfoot>

    </table>
</fieldset>


{% include "footer.html" %}

