
{% load tag_extras %}
{% include "topmatter.html" %}

<fieldset>
    <legend>Volunteers</legend>

    <table id="data-table">
        
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Industry</th>
                <th>Job Title</th>
                <th>Help Type</th>
                <th>Visit Site</th>
                <th>Host Site</th>
            </tr>
        </thead>
        <tbody>
            {% for volunteer in volunteers %}
                <tr>
                    <td><a href="{% url 'view-volunteer' volunteer.pk %}">{{ volunteer.last_name }}, {{ volunteer.first_name }}</a></td>
                    <td>
                        {{ volunteer.user.username }}<br>
                        {{ volunteer.phone }}<br>
                        {{ volunteer.address_line1 }}<br>
                        {{ volunteer.address_line2 }}<br>
                        {{ volunteer.city }}, {{ volunteer.state }} {{ volunteer.zipcode }}
                    </td>
                    <td>
                        {% for occ in volunteer.occupation_set.all %}
                            yellow
                            {{ occ.industry }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for occ in volunteer.occupation_set.all %}
                            {{ occ.job_title }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for help_resp in volunteer.helptyperesponse_set.all %}
                            {{ help_resp.help_type.short_name }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for site in volunteer.volunteersite_set.all %}
                            {{ site.name }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for help_resp in volunteer.helptyperesponse_set.all %}
                            {{ help_resp.details }}<br>
                        {% endfor %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Industry</th>
                <th>Job Title</th>
                <th>Help Type</th>
                <th>Visit Site</th>
                <th>Host Site</th>
            </tr>
        </tfoot>

    </table>
</fieldset>


{% include "footer.html" %}

